<%# donate.html.erb из pages %>
<!-- мэин и эсайд -->
<div id="container_main_aside">
    <!-- фото для фона -->
    <div id="body_bg_imgs" style="background-image: url(<%= asset_path('imgs/background_img.png') %>);"></div>

    <!-- мэин-->
    <main>
        <%# Рендеринг паршла призыва к действию %>
        <%= render  "call-to-action" %>
    </main>
    <!-- КОНЕЦ мэин-->
</div>
<!-- КОНЕЦ мэин и эсайд -->