<%# views/pages/map.html.erb %>
<main>
    <!-- Контейнер карты -->
    <div class="map-container">
        <!-- Заголовок карты -->
        <h1 class="map_title">Карта загрязнений цианидом</h1>

        <!-- карта для отображения -->
        <div id="world-map" class="formap"></div>

        <!-- Контейнер для фильтра и легенды (для адаптации) -->
        <div class="container_map_legendfilter"> 
            <!-- фильтр годов -->
            <div class="map-controls">
                <select id="year-filter">
                    <option value="all">Все годы</option>
                    <%# перебор цикла годов %>
                    <% (2000..2025).each do |year| %>
                        <option value="<%= year %>"><%= year %></option>
                    <% end %>
                </select>
            </div>
            <!-- КОНЕЦ фильтр годов -->

            <!-- Легенда карты -->
            <div class="map-legend">
                <div class="legend-item">
                    <span class="legend-color verysmall"></span>
                    <span>Незначительное загрязнение</span>
                </div>
                <div class="legend-item">
                    <span class="legend-color small"></span>
                    <span>Слабое загрязнение</span>
                </div>
                <div class="legend-item">
                    <span class="legend-color medium"></span>
                    <span>Среднее загрязнение</span>
                </div>
                <div class="legend-item">
                    <span class="legend-color large"></span>
                    <span>Сильное загрязнение</span>
                </div>
            </div>
            <!-- КОНЕЦ Легенда карты -->
        </div>
        <!-- КОНЕЦ Контейнер для фильтра и легенды (для адаптации) -->
    </div>
    <!-- КОНЕЦ Контейнер карты -->

    <!-- Контейнер для графиков -->
    <div class="charts-container">
        <!-- График распределения по уровням загрязнения -->
        <div class="chart-box">
            <h2>Распределение точек по уровню загрязнения</h2>
            <canvas id="pollutionLevelsChart"></canvas>
        </div>
        
        <!-- График топ самых загрязненных мест -->
        <div class="chart-box">
            <h2>Топ самых загрязненных мест</h2>
            <canvas id="topPollutedChart"></canvas>
        </div>
    </div>
    <!-- КОНЕЦ Контейнер для графиков -->
</main>