<%# news.html.erb из pages %>
<!-- мэин-->
<main id="news_main">
    <!-- блок для заднего фона новостей-->
    <div class="news_style_background">
        <!-- шапка мэин-->
        <div class="hat_divs">
            <!-- Заголовок -->
            <h1 class="title_divs">Последние новости</h1>
        </div>
        <!-- КОНЕЦ шапка мэин-->

        <div class="main_container_news"> 
            <div class="news-container">
                <div id="news-list" class="news-list">
                    <!-- Новости будут загружаться сюда -->
                </div>
            </div>
        </div>
    </div>
    <!-- КОНЕЦ блок для заднего фона новостей-->
</main>